apiVersion: gateway.k8s.aws/v1beta1
kind: TargetGroupConfiguration
metadata:
  name: tg-py-mcp-server-go-ecommerce
  namespace: test-a
  labels:
    app: tg-py-mcp-server-go-ecommerce
spec:
  targetReference:
    name: svc-py-mcp-server-go-ecommerce
  defaultConfiguration:
    targetGroupName: tg-py-mcp-server-go-ecommerce
    targetType: ip
  routeConfigurations:
    - routeIdentifier:
        kind: HTTPRoute
        name: py-mcp-server-go-ecommerce-route
        namespace: test-a
      targetGroupProps:
        healthCheckConfig:
          healthCheckProtocol: HTTP
          healthCheckPath: /health
          healthCheckPort: traffic-port 
          healthyThresholdCount: 2 
          unhealthyThresholdCount: 2